body{
	background: url("https://stmed.net/sites/default/files/geometry-wallpapers-25220-2955497.png");
	color:whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}
 
#content {
	border:solid whitesmoke 3px;
	width:900px;
	padding:4px;
}


#content nav{
    display: inline-block;
    justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	background: white;	
	border: 5px solid black;
}

#content nav ul{
    list-style-type: none;
	list-style-position: outside;
	padding: 10px 41px;

}
#content nav ul li{
	display: inline-block;
	padding: 10px 10px;
}
#content nav ul li a{
    padding: 15px 20px;
    border: 1px solid black;
}

footer {
	margin: 100px 490px 10px
}